**1. Write a Python program to sum all the items in a list.**

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]
print(sum(l))

55

**2. Write a Python program to get the largest number from a list.**

In [2]:
l=[1,2,3,4,5,6,7,8,9,10]
print(max(l))

10

**3. Write a Python program to count the number of strings where the string length 
is 2 or more and the first and last character are same from a given list of strings.**

In [12]:
l=['abc','xyz','aba','1221']
count=0
for i in l:
    if(len(i)>1 and i[0]==i[-1]):
        count+=1
print(count)

2

**4. Write a Python program to remove duplicates from a list.**

In [7]:
l=['abc','xyz','abc','52536','1221','5236','1221']
dup=set(l)
print(dup)

{'xyz', 'abc', '52536', '5236', '1221'}

**5. Write a Python program to check a list is empty or not.**

In [9]:
l=['abc','xyz','abc','52536','1221','5236','1221']
if(len(l)==0):
    print('The list is empty')
else:
    print('The list is not empty')

The list is not empty

**6. Write a Python program to print a specified list after removing the 0th, 4th and 
5th elements.**

In [31]:
l=[1,2,3,4,5,6,7,8,9,10]
l=[x for (i,x) in enumerate(l) if i not in (0,4,5)]
print(l)

[2, 3, 4, 7, 8, 9, 10]

**7. Write a Python program to print the numbers of a specified list after removing 
even numbers from it.**

In [2]:
l=[1,2,3,4,5,6,7,8,9,10]
odd=[x for x in l if x%2!=0]
print(odd)

[1, 3, 5, 7, 9]

**8. Write a Python program to convert a list of characters into a string.**

In [6]:
l=['A','a','s','h','i','s','h']
a=''.join(l)
print(a)

Aashish

**9. Write a Python program to find the second largest number in a list.**

In [9]:
l=[51,22,83,47,45,66,72,18,89,10]
l.sort()
print('second largest number',l[-2])

second largest number 83

**10. Write a Python program to get unique values from a list.**

In [10]:
l=[51,22,83,47,45,66,72,18,89,10]
l=set(l)
l=list(l)
print(l)

[66, 72, 10, 45, 47, 18, 83, 51, 22, 89]