**1. Write a Python script to sort (ascending and descending) a dictionary by key.**

In [8]:
import operator
d={'101':'201','102':'202','103':'203'}
s1=sorted(d.items(),key=operator.itemgetter(0))
s2=sorted(d.items(),key=operator.itemgetter(0),reverse=True)
print('Ascending order of a dictionary',s1)
print('Descending order of a dictionary',s2)

Ascending order of a dictionary [('101', '201'), ('102', '202'), ('103', '203')]
Descending order of a dictionary [('103', '203'), ('102', '202'), ('101', '201')]

**2. Write a Python script to add an item to a dictionary.**

In [12]:
d={}
l=int(input('Enter the number of items:'))
for i in range(l):
        k=input('Enter key:')
        v=input('Enter value:')
        d[k]=v
print(d)

Enter the number of items: 2
Enter key: 101
Enter value: sonu
Enter key: 102
Enter value: monu

{'101': 'sonu', '102': 'monu'}

**3. Write a Python script to concatenate following dictionaries to create a new one.**

In [9]:
d={'101':'Monu','102':'sonu','103':'chintu'}
e={'201':'aashish','202':'kartik','203':'nona'}
f={'301':'piyush','302':'sintu','303':'ayush'}
g={}
for i in (d,e,f):
    g.update(i)
print(g)

{'101': 'Monu', '102': 'sonu', '103': 'chintu', '201': 'aashish', '202': 'kartik', '203': 'nona', '301': 'piyush', '302': 'sintu', '303': 'ayush'}

**4. Write a Python script to check if a given key already exists in a dictionary.**

In [ ]:
d={'101':'Monu','102':'sonu','103':'chintu'}
dic=input('Enter the key:')
if dic in d:
    print('key already exists')
else:
    print('key not exists')

Enter the key: 101

key already exists

**5. Write a Python program to iterate over dictionaries using for loops.**

In [15]:
d={'101':'Monu','102':'sonu','103':'chintu'}
for key,value in d.items():
    print(key,value)

101 Monu
102 sonu
103 chintu

**6. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).**

In [16]:
n=int(input('Enter the num:')) 
d={x:x*x for x in range(1,n+1)}
print(d)

Enter the num: 10

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.**

In [30]:
d={x:x*x for x in range(1,16)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

**8. Write a Python script to merge two Python dictionaries.**

In [17]:
d={'101':'Monu','102':'sonu','103':'chintu'}
e={'201':'aashish','202':'kartik','203':'nona'}
d.update(e)
print(d)

{'101': 'Monu', '102': 'sonu', '103': 'chintu', '201': 'aashish', '202': 'kartik', '203': 'nona'}

**9. Write a Python program to iterate over dictionaries using for loops.**

In [18]:
d={'101':'Monu','102':'sonu','103':'chintu'}
for key,value in d.items():
    print(key,value)

101 Monu
102 sonu
103 chintu

**10. Write a Python program to remove a key from a dictionary.**

In [41]:
d={'101':'Monu','102':'sonu','103':'chintu'}
del d['101']
print(d)

{'102': 'sonu', '103': 'chintu'}

**11. Write a Python program to map two lists into a dictionary.**

In [23]:
l=['101','102','103','104','105']
m=['sonu','monu','rohan','neetu','rajan']
d=dict(zip(l,m))
print(d)

{'101': 'sonu', '102': 'monu', '103': 'rohan', '104': 'neetu', '105': 'rajan'}

**12. Write a Python program to sort a dictionary by key.**

In [20]:
import operator
d={'101':'201','102':'202','103':'203'}
s1=sorted(d.items(),key=operator.itemgetter(0))
print(s1)

[('101', '201'), ('102', '202'), ('103', '203')]

**13. Write a Python program to remove duplicates(based on values) from Dictionary.**

In [27]:
d={'101':'201','102':'201','103':'203','104':'201','105':'205'}
d1= {}
for key,value in d.items():
    if value not in d1.values():
        d1[key]=value
print(d1)

{'101': '201', '103': '203', '105': '205'}

**14. Write a Python program to check a dictionary is empty or not.**

In [55]:
d={'101':'sonu'}
if(len(d)==0):
    print('dictionary is empty')
else:
    print('dictionary is not empty')

dictionary is not empty

**15. Write a Python program to combine two dictionary adding values for common keys.**

In [32]:
d1={'a': 100, 'b': 200, 'c':300}
d2={'a': 300, 'b': 200, 'd':400}
d3=dict(d1)
d3.update(d2)
for key,value in d1.items():
    for x, y in d2.items():
        if key == x:
            d3[key]=(value+y)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

**16. Write a Python program to print a dictionary in table format.**

In [75]:
d={'101':'Monu','102':'sonu','103':'chintu'}
print("\tRoll :\tName")
for key, value in d.items():
    print('\t{}  : \t{}'.format(key,value))

	Roll :	Name
	101  : 	Monu
	102  : 	sonu
	103  : 	chintu

**17. Write a Python program to get the top three items in a shop.**

In [77]:
from heapq import nlargest
from operator import itemgetter
items = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
for name, value in nlargest(3, items.items(), key=itemgetter(1)):
    print(name, value)

item4 55
item1 45.5
item3 41.3

**18. Write a Python program to match key values in two dictionaries.**

In [79]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
for (key, value) in set(x.items()) & set(y.items()):
    print('%s: %s is present in both x and y' % (key, value))

key1: 1 is present in both x and y